# Dependencies
node_modules/
vendor/

# Environment/Secrets
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
storage/*.key
public/storage
